.top-header {
  height: 400px;
  width: 100%;
  background-color: #4056a1;
  background-origin: content-box;
  background-image: url("../images/asfalt-dark.png");
  /* padding-top: 120px; */

  /* margin-top: 120px; */
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
}

.name {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

@media screen and (min-width: 768px) {
  .top-header {
    margin: 2em;
    flex-shrink: 2;
  }
}
@media screen and (min-width: 1024px) {
  .top-header {
    margin: 4em;
  }
}
